$font-family: 'Open Sans', sans-serif;
$contentwidth: 1220px;

body{
    font-family: $font-family;
    font-size: 16px;
}

input{
    border-radius: 5px;
    border: 1px solid gray;
}

input:focus{
    outline:none;
    border-color: #3c93df;
    box-shadow: 0 0 5px #6baae0;
}

#main{
    background-color: #f7f7f7;
    height: 100px;
}

header{
    z-index: 1000;
    top:0;
    position: fixed;
    width: 100%;
    height: max-content;
    box-shadow: 0 0px 10px hsla(0, 0%, 0%, 0.315);
    background-color: #ffffff;
    button{
        background-color: #ffffff;
        margin: 0;
        padding:10px 20px;
        border-radius: 70px;
        font-size: 16px;
        border:none;
        box-shadow: none;
    }
    button:hover{
        background-color: #68b7fd60;
        color: #3c93df;
    }
    .header-content{
        box-sizing: border-box;
        padding: 15px;
        width: 1220px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        img{
            width: 70px;
            height: 70px;
            padding: 0;
        }
        .header-right{
            margin-left: auto;
            font-size: 0px;
        }
    }
}

#request{
    background-color: #f7f7f7;
    .request-conteiner{
        box-sizing: border-box;
        margin: 0 auto;
        width: $contentwidth;
        display: flex;
        padding: 15px;
        padding-top: 30px;

        .request-left{
            font-size: 20px;
            margin-right: auto;
            padding: 15px;
            align-self: center;
            text-align: center;
            width: 50%;
            p{
                color: gray;
            }
            h1 {
                font-weight: 900;
                font-size: 35px;
                padding-bottom: 20px;
            }
        }

        .request-right{
            padding: 15px;
            width:50%;
        
            h2{
                font-size: 30px;
                font-weight: 900;
            }
            .user-input{
                padding: 15px 0px;
                p::after{
                    content: '*';
                    color: red;
                }
            
                input{
                    box-sizing: border-box;
                    width: 100%;
                    padding: 10px;
                }
            }

            .right-chekbox{
                display: inline-block;
                
                input:checked{
                    background-color: 337ab7; 
                }
            
                a{
                    color: #3c93df;
                }
                a:hover{
                    text-decoration: underline;
                }
            }

            .reg-button {
                margin-top: 20px;
                text-align: center;
                button{
                    border: 0px;
                    border-radius: 50px;
                    width: 50%;
                    background-color: #337ab7;
                    color: #ffffff;
                    padding: 10px;
                }
            }             
        }
    }
}





@media (max-width: 1220px) {
    header {
      margin: 0px;
      .header-content {
        margin: 0 auto;
        width:900px;
        }
    }

    #request{
        .request-conteiner{
            margin: 0 auto;
            width:900px;
            padding: 0px;
            
        }
    }
}




.menu {
    display: none;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.backcolor {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    background-color: #337ab7;
    display: none;
    justify-content: center;
    align-items: center;  
    button{
        background-color: #ffffff;
        margin: 0;
        padding:10px 20px;
        border-radius: 70px;
        font-size: 16px;
        border:none;
        box-shadow: none;
    }
    button:hover{
        background-color: #68b7fd60;
        color: #3c93df;
    }
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
   display: block;
   background-color: #ffffff;
   position: absolute;
   height: 3px;
   width: 30px;
   transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
   border-radius: 2px;
}
  
.menu-button::before {
   content: '';
   margin-top: -8px;
}
  
.menu-button::after {
   content: '';
   margin-top: 8px;
}

@media (max-width: 930px) {
    #request{
        .request-conteiner{
            display: contents;

            .request-left{
                width: 90%;
                margin: 0 auto;

                p{
                    font-size: 16px;
                }
                h1{
                    font-size: 24px;
                }
            }

            .request-right{
                width: 90%;
                margin: 0 auto;
        
                h2{
                    font-size: 22px;
                    font-weight: 900;
                }

                .reg-button{
                    margin-top: 20px;
                    text-align: center;
                button{
                    border: 0px;
                    border-radius: 50px;
                    width: 100%;
                    background-color: #337ab7;
                    color: #ffffff;
                    padding: 10px;
                }
                }
            }
        }
    }

    header{
        height: 75px;
        .header-content{
            width: 90vw;
            justify-content: space-between;
            img{
                width: 50px;
                height: 50px;
            }
            .header-right{display: none;}
        }
    }
    .menu-button-container, .backcolor {
        display: flex;
      }
      .menu {
        display: flex;
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .menu li {
        height: 2.5em;
        padding: 0.3em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: black;
        background-color: white;
      }
}

@media(max-width: 600){
    #request{
        .request-conteiner{
            padding: 10px;

            .request-left{
                padding: 10px;
                p{
                    font-size: 14px;
                }
                h1{
                    font-size: 20px;
                }
            }

            .request-right{
                padding: 10px;
            }
        }
    }
}
