$font-family: 'Open Sans', sans-serif;
$contentwidth: 1220px;

body{
    font-family: $font-family;
    font-size: 16px;
}

input{
    border-radius: 5px;
    border: 1px solid gray;
}

input:focus{
    outline:none;
    border-color: #3c93df;
    box-shadow: 0 0 5px #6baae0;
}

header{
    top:0;
    position: fixed;
    width: 100%;
    height: max-content;
    box-shadow: 0 0px 10px hsla(0, 0%, 0%, 0.315);
    background-color: #ffffff;
}

.header-content{
    padding: 15px;
    width: $contentwidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-content img{
    width: 70px;
    height: 70px;
    padding: 0;
}

.header-right{
    margin-left: auto;
    font-size: 0px;
    button{
        background-color: #ffffff;
        margin: 0;
        padding:10px 20px;
        border-radius: 70px;
        font-size: 16px;
        border:none;
        box-shadow: none;
    }
    button:hover{
        background-color: #68b7fd60;
        color: #3c93df;
    }
}

.request-conteiner{
    margin: 0 auto;
    width: $contentwidth;
    display: flex;
    margin-top: 200px ;
    padding: 15px;
}

.request-left{
    font-size: 20px;
    margin-right: auto;
    padding: 15px;
    align-self: center;
    text-align: center;
    width: 50%;

    h1 {
        font-weight: 900;
        font-size: 35px;
        padding-bottom: 20px;
    }
}

.request-right{
    padding: 15px;
    width:50%;

    h2{
        font-size: 30px;
        font-weight: 900;
    }
}

.reg-button {
    margin-top: 20px;
    text-align: center;
    button{
        border: 0px;
        border-radius: 50px;
        width: 50%;
        background-color: #3c93df;
        color: #ffffff;
        padding: 10px;
    }
}

.user-input{
    padding: 15px 0px;
    p::after{
        content: '*';
        color: red;
    }

    input{
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
    }
}

.right-chekbox{
    display: inline-block;
    
    input:checked{
        background-color: blue; 
    }

    a{
        color: #3c93df;
    }
    a:hover{
        text-decoration: underline;
    }
}