@import 'variable';
@import 'mixin';

#course{
    background-color: #ffffff;
    .course-saction{
        box-sizing: border-box;
        p{
            color:gray;
        }
        font-family: $font-family;
        padding: $paddingS;
        margin: 50px auto 10px auto;
        width: $contentwidth;
        text-align: center;
        height: 450px;
        h1{
            font-size: 32px;
            font-weight: 500;
        }

        .course-elem{
            display: flex;
            justify-content: center;
            transition: transform 0.5s ease; 

            .course{
                margin: 20px 25px;
                text-align: center;
                color: gray;
                width: calc(33% - 45px);
                img{
                    margin-bottom: 10px;
                }
                p{
                    font-size: $font-sizeP;
                }
                hr{
                    border-color: #50a5f0;
                    border: 1px solid #7cbffa;
                    margin: 15px 0px 30px 0px;
                }
                h3{
                    color: rgb(65, 65, 65);;
                    font-weight: 500;
                    font-size: 22px;
                }
            }
        }  
    }

    .slider-buttons{
        width: 100%;
        text-align: center;
        padding-bottom: 25px;
        button{
            margin: 7px;
            width: 13px;
            height: 13px;
            background-color: rgb(155, 154, 154);
            border-width: 0px;
            border-radius: 50%;
    
            &:hover{
                background-color: rgb(82, 82, 82);
            }
            &.active {
                background-color: rgb(82, 82, 82);
            }
        }
    }

    .course-result{
        padding:60px 0px ;
        background-color: #3c93df;
        font-family: $font-family;

        
        
        .statisctic{
            @include positionCenter(15px);
            // display: flex;
            // padding: 15px;
            // margin: 0px auto;
            width: $contentwidth;
            box-sizing: border-box;

            .elem-stat{
                width:300px;
                text-align: center;
                color: #ffffff;
                h2{
                    font-weight: 400;
                    font-size: 26px;
                }

                p{
                    font-size: 15px;
                    font-weight: 300;
                }

                img{
                    width: min-content;
                    margin: $paddingS;
                }
            }
       }
    }
}

@media(max-width: 1220px) {
    #course{
        .course-saction {
            width: 596px;
            padding: 10px;
            height: 500px;
            h1{
                font-size: 30px;
            }
            .course-elem {

                margin: 0 auto;
                justify-content: space-between;
                width: 100%;
                
                .course{
                    width: auto;
                }
            }
        }
        .course-result{
            padding: 0px;

            .statisctic{
                width:600px;
                padding: 10px 0px;
            }
        }
    }
}

@media(max-width:620px){
    #course{
        .course-result{
            padding: 0px;

            .statisctic {
                justify-content: center;
                margin: 0px auto;
                flex-wrap: wrap;
                width: 280px;
                padding: 0px;

                .elem-stat{
                    width: 135px;
                    font-size: 12px;
                    img{
                        margin: 5px;
                    }
                }
            }
        }
    }
}

@media(max-width: 600px) {
    #course{
        .course-saction {
            width:300px;
            padding: 10px;
            margin-top: 40px;
            height: 400px;
            h1{
                font-size: 22px;
                margin-bottom: 20px;
            }
            .course-elem {
                margin: 0 auto;
                justify-content: space-between;
                width: 100%;
                .course{
                    margin: 0px;
                    width: auto;
                    hr{
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .slider-buttons{
            margin-bottom: 30px;
        }
        .course-result{
            .statisctic{
                padding: 30px 0px;
                .elem-stat{
                    h2{
                        font-size: 18px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
            }
        }
    }        
}