@import 'variable';

#mentor{
    background-color: #ffffff;

    p{
        color: gray;
    };
    .mentors-conteiner{
        box-sizing: border-box;
        width:1220px;
        margin: 0 auto;
        padding: 15px;
        padding-top: 50px;
        h1{
            text-align: center;
            font-weight: 500;
            font-size: 32px;
        }
        margin-top: 30px;

        .mentors-elem{
            display: flex;
            img{
                margin: 10px 100px auto 75px;
            }
        
            .mentor-dis{
                p{
                    font-weight: 300;
                    padding-top: 10px;
                }
                hr{
                    background-color: #d4d4d4;
                    border: 1px solid #f7f7f7;
                    margin: 10px 0px;
                }
                #mentor_name{
                    font-size: 18px;
                    color: #3c93df;
                    font-family: 'PT Open Sans', sans-serif;
                    font-weight: 600;
                    margin: 20px 0px;
                }
            }
        }

        .mentors-buttons{
            width: 100%;
            text-align: center;
            padding-bottom: 25px;
            button{
                margin: 7px;
                width: 13px;
                height: 13px;
                background-color: rgb(155, 154, 154);
                border-width: 0px;
                border-radius: 50%;
        
                &:hover{
                    background-color: rgb(82, 82, 82);
                }
                &.active {
                    background-color: rgb(82, 82, 82);
                }
            }
        }
        
    }
}

@media(max-width:1220px){
    #mentor{
        .mentors-conteiner{
            width: 900px;
        }
    }
}

@media(max-width: 930px) {
    #mentor{
        .mentors-conteiner{
            width:600px;
            padding: 10px;
            padding-top: 25px;
            .mentors-elem{
                display: block;
                img{
                    display: block;
                    margin: 0 auto;
                    
                }
            }
        }
    }
}

@media(max-width: 620px){
    #mentor{
        .mentors-conteiner{
            margin-top: 10px;
            width:280px;
            text-align: center;
            h1{
                font-size: 24px;
            }
            .mentors-list{
                margin-top: 10px;
            }
            .mentors-elem{
                img{
                    width: 150px;
                    height: 150px;
                }
                .mentor-dis{
                    #mentor_name{
                        font-size: $font-sizeS;
                        margin: 25px 0px;
                    }
                    p{
                        font-size: $font-sizeP;
                    }
                }
            }
        }
    }
}