@import 'variable';

#video {
    background-color: #f7f7f7;
    p{
        color:gray;
    }
    .video-content {
        box-sizing: border-box;
        width: 1220px;
        margin: 0 auto;
        padding: 30px $paddingS;

        .title-dis {
            text-align: center;

            h1 {
                font-weight: 500;
                font-size: 35px;
                padding-top: 20px;
            }

            p {
                padding-top: $paddingS;
            }
        }

        .videoUrl {
            display: flex;

            iframe {
                margin: 30px auto;
                width: 1020px;
                height: 500px;
            }
        }
    }
}

@media (max-width: 1220px) {
    #video{
        .video-content {
            padding: 0;
            width: 100%;
    
            .title-dis {
                margin: 0 auto;
                max-width: 900px;
            }
        }
    }
}

@media (max-width: 1020px) {
    #video{
        .video-content {
            padding: 0;
    
            .videoUrl {
                iframe {
                    width: 100%;
                    height: 400px;
                }
            }
    
            .title-dis {
                max-width: 600px;
    
                h1 {
                    font-size: 30px;
                }
    
                p {
                    font-size: $font-sizeS;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    #video{
        .video-content {
            .title-dis {
                max-width: 400px;
    
                h1 {
                    font-size: 30px;
                }
    
                p {
                    font-size: $font-sizeS;
                }
            }
    
            .videoUrl {
                padding: 0 10px;
                iframe {
                    width: 100%;
                    height: 300px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    #video{
        .video-content {
        .videoUrl {
            iframe {
                width: 100%;
                height: 200px;
            }
        }
    
        .title-dis {
            max-width: 280px;
    
            h1 {
                font-size: 24px;
            }
    
            p {
                font-size: 12px;
            }
        }
    }
    }
}

@media (max-width: 350px){
    #video{
        .video-content{
            .title-dis{
                width: 300px;
                h1{
                    padding-top: 70px;
                    font-size: 26px;
                }
            }
        }
    }
}
