#course {
  background-color: #ffffff;
}
#course .course-saction {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  margin: 50px auto 10px auto;
  width: 1220px;
  text-align: center;
  height: 450px;
}
#course .course-saction p {
  color: gray;
}
#course .course-saction h1 {
  font-size: 32px;
  font-weight: 500;
}
#course .course-saction .course-elem {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease;
}
#course .course-saction .course-elem .course {
  margin: 20px 25px;
  text-align: center;
  color: gray;
  width: calc(33% - 45px);
}
#course .course-saction .course-elem .course img {
  margin-bottom: 10px;
}
#course .course-saction .course-elem .course p {
  font-size: 14px;
}
#course .course-saction .course-elem .course hr {
  border-color: #50a5f0;
  border: 1px solid #7cbffa;
  margin: 15px 0px 30px 0px;
}
#course .course-saction .course-elem .course h3 {
  color: rgb(65, 65, 65);
  font-weight: 500;
  font-size: 22px;
}
#course .slider-buttons {
  width: 100%;
  text-align: center;
  padding-bottom: 25px;
}
#course .slider-buttons button {
  margin: 7px;
  width: 13px;
  height: 13px;
  background-color: rgb(155, 154, 154);
  border-width: 0px;
  border-radius: 50%;
}
#course .slider-buttons button:hover {
  background-color: rgb(82, 82, 82);
}
#course .course-result {
  padding: 60px 0px;
  background-color: #3c93df;
  font-family: "Open Sans", sans-serif;
}
#course .course-result .statisctic {
  display: flex;
  padding: 15px;
  margin: 0px auto;
  width: 1220px;
  box-sizing: border-box;
}
#course .course-result .statisctic .elem-stat {
  width: 300px;
  text-align: center;
  color: #ffffff;
}
#course .course-result .statisctic .elem-stat h2 {
  font-weight: 400;
  font-size: 26px;
}
#course .course-result .statisctic .elem-stat p {
  font-size: 15px;
  font-weight: 300;
}
#course .course-result .statisctic .elem-stat img {
  height: 60px;
  width: fit-content;
  margin: 15px;
}

@media (max-width: 1220px) {
  #course .course-saction {
    width: 596px;
    padding: 10px;
    height: 500px;
  }
  #course .course-saction h1 {
    font-size: 30px;
  }
  #course .course-saction .course-elem {
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
  }
  #course .course-saction .course-elem .course {
    width: auto;
  }
  #course .course-result {
    padding: 0px;
  }
  #course .course-result .statisctic {
    width: 600px;
    padding: 10px 0px;
  }
}
@media (max-width: 620px) {
  #course .course-result {
    padding: 0px;
  }
  #course .course-result .statisctic {
    justify-content: center;
    margin: 0px auto;
    flex-wrap: wrap;
    width: 280px;
    padding: 0px;
  }
  #course .course-result .statisctic .elem-stat {
    width: 135px;
    font-size: 12px;
  }
  #course .course-result .statisctic .elem-stat img {
    margin: 5px;
  }
}
@media (max-width: 600px) {
  #course .course-saction {
    width: 300px;
    padding: 10px;
    margin-top: 40px;
    height: 400px;
  }
  #course .course-saction h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  #course .course-saction .course-elem {
    margin: 0 auto;
    justify-content: space-between;
    width: 100%;
  }
  #course .course-saction .course-elem .course {
    margin: 0px;
    width: auto;
  }
  #course .course-saction .course-elem .course hr {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  #course .slider-buttons {
    margin-bottom: 30px;
  }
  #course .course-result .statisctic {
    padding: 30px 0px;
  }
  #course .course-result .statisctic .elem-stat h2 {
    font-size: 18px;
  }
  #course .course-result .statisctic .elem-stat p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=course.css.map */
